<h1>New Category</h1>

<%= form_with model: @category do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% @category.errors.full_messages_for(:name).each do |message| %>
  <div><%= message %></div>
<% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% @category.errors.full_messages_for(:description).each do |message| %>
  <div><%= message %></div>
<% end %>

  </div>

  <%= form.label :category_id, "Category", class: "form-label" %>
  <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Select a category" }, class: "form-select" %>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>



