<%= form_with model: @category do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, value: @category.name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description, value: @category.description %>
  </div>
  <%= form.label :category_id, "Category", class: "form-label" %>
  <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Select a category" }, class: "form-select" %>
  <%= form.submit %>
<% end %>

<%= link_to 'Back', category_path(@category) %>

